# ~/Desktop/stylerec/docker-compose.yml

version: '3.8'

services:
  mysql_db:
    image: mysql:8.0                  
    container_name: style_rec_mysql   
    
    # 這裡就是關鍵修改點
    command: --default-authentication-plugin=mysql_native_password
    
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword 
      MYSQL_DATABASE: style_rec_db            
      MYSQL_USER: user              
      MYSQL_PASSWORD: password 
      
    ports:
      - "3306:3306" 
      
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: